<div class="meta-path">
  <div #container class="meta-path-container" [style.backgroundImage]="'url('+bgimage+')'" [style.width.px]="containerWidth" [style.height.px]="containerHeight">
    <swiper #swiperWrapper class="swiper-container" [config]="swipe_config">
      <div class="swiper-slide">
        <div class="content" [style.height.px]="containerHeight">
          <svg [attr.viewBox]="'0 0 '+ svgContentWidth +' 768'" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <svg:g id="theme" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

              <svg:path *ngIf="pathOutline" id="pathOultine" [attr.stroke]="pathOutline" stroke-linejoin="round" stroke-linecap="round" stroke-width="70" [attr.d]="svgPathString" ></svg:path>
              <svg:path id="path" [attr.stroke]="pathcolor" stroke-linejoin="round" stroke-linecap="round" stroke-width="60" [attr.d]="svgPathString"></svg:path>

              <svg:ellipse class="node" *ngFor="let point of points; let i = index" stroke-width="3"
                (click)="nodeClick(i)"
                [style.fill]="pathPointStyle(i)"
                [ngClass]="pathPointClass(i)"
                [attr.cx]="getPosX(i)"
                [attr.cy]="getPosY(i)"
                rx="24"
                ry="14" />

              <svg:ellipse #player class="player" [attr.cx]="getPlayerPosition(currentNodeIndex).x" [attr.cy]="getPlayerPosition(currentNodeIndex).y" rx="5" ry="5"></svg:ellipse>

            </svg:g>

          </svg>

          <div class="html-player"
            [ngClass]="{'animate': (isWalking), 'animate-back': (isWalking < 0)}"
            [style.transform]="getPlayerTransform(currentNodeIndex, isWalking)">
            <div class="html-player-scale" [style.transform]="setScaleTransform()">
              <div class="html-player-image" [style.backgroundImage]="'url('+playeranim+')'"></div>
            </div>
          </div>

        </div>
      </div>
    </swiper>

    <div class="button button-next" (click)="goToPoint(1)">next</div>
    <div class="button button-prev" (click)="goToPoint(-1)">prev</div>
    <div class="button button-help" >help</div>

  </div>

</div>
