.meta-path {

  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  display: flex;
  justify-content: center;
  position: relative;
}

.meta-path-container {
  background-image: url("/assets/bg-dzungle.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.meta-path {

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  // deep overrides for swiper

  /deep/ {
    .swiper-slide {
      overflow: hidden;

      width: auto !important;
      max-width: none !important;
    }
  }
}

.content {
  overflow: hidden;
}

.swiper-slide {
  height: auto;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  svg {
    height: 100%;
    width: auto;
    margin: 0 auto
  }
}

.swiper-slide-active {}

.node {
  cursor: pointer;
}
