<div class="meta-path">
  <div #container class="meta-path-container"
    [style.width.px]="containerWidth"
    [style.height.px]="containerHeight">
    <swiper #swiperWrapper class="swiper-container" [config]="config" (indexChange)="onIndexChange($event)">
      <div class="swiper-slide">
        <div class="content" [style.height.px]="containerHeight">
          <svg [attr.viewBox]="'0 0 '+ cWidth +' 768'" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <svg:g id="theme" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

              <svg:path id="path" stroke="yellow" stroke-linejoin="round" stroke-linecap="round" stroke-width="60" [attr.d]="pathString"></svg:path>

              <svg:ellipse class="node" *ngFor="let point of points; let i = index"
                stroke-width="3"
                (click)="nodeClick(i)"
                [ngClass]="getNodeClass(i)"
                [attr.cx]="getPosX(i)"
                [attr.cy]="getPosY(i)" rx="24" ry="14" />

            </svg:g>
          </svg>

        </div>
      </div>
    </swiper>

    <div class="button button-next" (click)="goToPoint(1)">next</div>
    <div class="button button-prev" (click)="goToPoint(-1)">prev</div>
    <div class="button button-help">help</div>

  </div>

</div>
